{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ listing.title }}</h2>

<ul>
 <li>Vendu : {{ listing.sold|yesno}}</li>
 <li>Année : {{ listing.year }}</li>
 <li>Type : {{ listing.type}} </li>
 {% if listing.band %}
   <li>Groupe : {{ listing.band}}</li>
 {% endif %}
</ul>

<p>{{ band.description }}</p>

<a href="{% url 'listings-list' %}">Retour à tous les articles</a>
<a href="{% url 'listings-update' listing.id %}">Modifier cet article</a>
<a href="{% url 'listings-delete' listing.id %}">Supprimer cet article</a>

{% endblock %}